# PokePy

In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [2]:
# Set the API base URL
baseurl = "https://pokeapi.co/api/v2/pokemon/"
poke_requests = requests.get(baseurl).json()
# pprint(poke_requests)

In [3]:
# Set API limits
url = "https://pokeapi.co/api/v2/pokemon/?offset=0&limit=10000"
response = requests.get(url).json()
# pprint(response)

# Define an empty list to fetch the poke data 
poke_name = []

poke_results = response["results"]
# pprint(poke_results)

for i in poke_results:
    name = i["name"]
    poke_name.append(name)
# print(poke_name)
print(len(poke_name))

1281

In [4]:
# Extract data for metadata
poke_ids = []
poke_type_1 = []
poke_type_2 = []
poke_weight = []

for j in poke_name:
    url = baseurl + j
    data_requests = requests.get(url).json()
#     pprint(data_requests)
    
    poke_id = data_requests["id"]
    poke_ids.append(poke_id)
    
    for l in data_requests["types"]:
        if l["slot"] == 1:
            type_1 = l["type"]["name"]
            poke_type_1.append(type_1)
        if l["slot"] == 2:
            type_2 = l["type"]["name"]
        else:
            type_2 = "NaN"
        continue
    poke_type_2.append(type_2)
    
    weight = data_requests["weight"]
    poke_weight.append(weight)

In [43]:
metadata_df = pd.DataFrame({
    "name": poke_name,
    "order_id": poke_ids,
    "weight": poke_weight,
    "type_1": poke_type_1,
    "type_2": poke_type_2})

metadata_df.head()

         name  order_id  weight type_1  type_2
0   bulbasaur         1      69  grass  poison
1     ivysaur         2     130  grass  poison
2    venusaur         3    1000  grass  poison
3  charmander         4      85   fire     NaN
4  charmeleon         5     190   fire     NaN

In [6]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      1281 non-null   object
 1   order_id  1281 non-null   int64
 2   weight    1281 non-null   int64
 3   type_1    1281 non-null   object
 4   type_2    1281 non-null   object
dtypes: int64(2), object(3)
memory usage: 50.2+ KB

In [7]:
# Export the Pokemon data into a csv
metadata_df.to_csv("Resources/metadata.csv", index= False)

In [8]:
# Extract data for statistics
hp = []
attack = []
defense = []
sp_attack = []
sp_defense = []
speed = []

for j in poke_name:
    url = baseurl + j
    data_requests = requests.get(url).json()
    
    for p in data_requests["stats"]:
        if p["stat"]["name"] == "hp":
            value = p["base_stat"]
            hp.append(value)
        if p["stat"]["name"] == "attack":
            value = p["base_stat"]
            attack.append(value)
        if p["stat"]["name"] == "defense":
            value = p["base_stat"]
            defense.append(value)
        if p["stat"]["name"] == "special-attack":
            value = p["base_stat"]
            sp_attack.append(value)
        if p["stat"]["name"] == "special-defense":
            value = p["base_stat"]
            sp_defense.append(value)
        if p["stat"]["name"] == "speed":
            value = p["base_stat"]
            speed.append(value)

In [9]:
statistics_df = pd.DataFrame({
    "name": poke_name,
    "order_id": poke_ids,
    "hp" : hp,
    "attack" : attack,
    "defense": defense, 
    "special_attack": sp_attack,
    "special_defense": sp_defense,
    "speed": speed})

statistics_df.head()

,name,order_id,hp,attack,defense,special_attack,special_defense,speed
0,bulbasaur,1,45,49,49,65,65,45
1,ivysaur,2,60,62,63,80,80,60
2,venusaur,3,80,82,83,100,100,80
3,charmander,4,39,52,43,60,50,65
4,charmeleon,5,58,64,58,80,65,80

In [10]:
statistics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1281 non-null   object
 1   order_id         1281 non-null   int64
 2   hp               1281 non-null   int64
 3   attack           1281 non-null   int64
 4   defense          1281 non-null   int64
 5   special_attack   1281 non-null   int64
 6   special_defense  1281 non-null   int64
 7   speed            1281 non-null   int64
dtypes: int64(7), object(1)
memory usage: 80.2+ KB

In [11]:
# Export the Pokemon Data into a csv
statistics_df.to_csv("Resources/statistics.csv", index= False)

In [12]:
# Extract data for pictures
pics_default = []
pics_shiny = []

for j in poke_name:
    url = baseurl + j
    data_requests = requests.get(url).json()
    
    pic_default = data_requests["sprites"]["other"]["official-artwork"]["front_default"]
    pics_default.append(pic_default)
    
    pic_shiny = data_requests["sprites"]["other"]["official-artwork"]["front_shiny"]
    pics_shiny.append(pic_shiny)

In [13]:
sprites_df = pd.DataFrame({
        "name": poke_name,
        "order_id": poke_ids,
        "sprites_default": pics_default,
        "sprites_shiny": pics_shiny})
sprites_df.head()

,name,order_id,sprites_default,sprites_shiny
0,bulbasaur,1,https://raw.githubusercontent.com/PokeAPI/spri...,https://raw.githubusercontent.com/PokeAPI/spri...
1,ivysaur,2,https://raw.githubusercontent.com/PokeAPI/spri...,https://raw.githubusercontent.com/PokeAPI/spri...
2,venusaur,3,https://raw.githubusercontent.com/PokeAPI/spri...,https://raw.githubusercontent.com/PokeAPI/spri...
3,charmander,4,https://raw.githubusercontent.com/PokeAPI/spri...,https://raw.githubusercontent.com/PokeAPI/spri...
4,charmeleon,5,https://raw.githubusercontent.com/PokeAPI/spri...,https://raw.githubusercontent.com/PokeAPI/spri...

In [14]:
sprites_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1281 non-null   object
 1   order_id         1281 non-null   int64
 2   sprites_default  1271 non-null   object
 3   sprites_shiny    1259 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.2+ KB

In [41]:
sprites_null = sprites_df.loc[sprites_df['sprites_default'].isnull(), :]

for i in range(0, len(sprites_df)):
    if (sprites_df.iloc[i, 2] == None):
        sample_name = sprites_df.iloc[i, 0]

        url = baseurl + sample_name
        data_requests = requests.get(url).json()

        front_default = data_requests["sprites"]["front_default"]
        sprites_df.iloc[i, 2] = front_default

sprites_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1281 non-null   object
 1   order_id         1281 non-null   int64
 2   sprites_default  1273 non-null   object
 3   sprites_shiny    1259 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.2+ KB

In [44]:
# Export the Pokemon Data into a csv
sprites_df.to_csv("Resources/sprites.csv", index= False)